
.block-analysis {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 12px;
}

.first-block {
    font-size:28px;
}

.second-block {
    font-size: 28px;
    color: var(--red);
}

.third-block {
    font-size: 28px;
    color: var(--orange);
}

.four-block {
    font-size: 28px;
    color: var(--green);
}

.span-block {
    color: var(--text-muted);
    font-size: 13px;
}

.part-an {
    display: flex;
    flex-direction: column;
}